:root {
  font-size: 16px;
  --titlebar-background: #B8BDB5;
  --sidebar-background: #D2D4C8;
  --content-background: #E0E2DB;
  --fixed-text: #000000;
  --fixed-text-muted: #1e1e1e;
  color: var(--fixed-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

.menu-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.project-button {
  font-size: 1.3rem;
  border: 0;
  color: var(--fixed-text);
  cursor: pointer;
}

.project-button:hover {
  color: var(--fixed-text-muted);
}

#title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#project-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  padding: 0.5rem;
}

/* Grid Content */
#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: 
    ' titlebar'
    'content';
}

#titlebar {
  grid-area: titlebar;
  background-color: var(--titlebar-background);
}

#content {
  grid-area: content;
  background-color: var(--content-background);
  overflow-y: auto;
  -webkit-box-shadow: inset 6px 6px 5px 5px #A5A5A5; 
  box-shadow: inset 6px 6px 5px 5px #A5A5A5;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-areas: 'navigation' 'project-list';
  gap: 1rem;
}

#project-list {
  grid-area: project-list;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
