:root {
  --accent-color: #38618C;
  --accent-color-muted: #2c4c6e;
  --default-project-background: #f5f5f5;
  --content-background: #F4F0BB;
  --fixed-text: #000000;
  --fixed-text-muted: #1e1e1e;
  --neutral-text: #777777;
  --priority-low: #79B990;
  --priority-normal: #EFE9F4;
  --priority-high: #EF6B79;
  font-size: 16px;
  color: var(--fixed-text);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

input[type="checkbox"] {
  appearance: none;            
  -webkit-appearance: none; 
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid currentColor;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"][data-priority="Normal"] {
  background-color: var(--priority-normal);
}

input[type="checkbox"][data-priority="Low"] {
  background-color: var(--priority-low);
}

input[type="checkbox"][data-priority="High"] {
  background-color: var(--priority-high);
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 0.45rem;
  top: 0.1rem;
  width: 0.4rem;
  height: 0.8rem;
  border: solid var(--fixed-text);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* General site layout */
#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: ' titlebar' 'content-area';
  overflow-x: hidden;
}

#titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: titlebar;
  background-color: var(--accent-color);
  z-index: 200;
  -webkit-box-shadow: 6px 6px 5px 5px #A5A5A5; 
  box-shadow: 6px 6px 5px 5px #A5A5A5;
}

#title {
  color: var(--default-project-background);
  font-size: 2.5rem;
  text-align: center;
}

/* This is the site layout for projects and project content */
#content {
  grid-area: content-area;
  background-color: var(--content-background);
  padding: 0.8rem;
  display: grid;
  grid-template-rows: 3.3rem 1fr;
  grid-template-areas: 'title' 'list';
  gap: 0.5rem;
  overflow-y: scroll;
}

/* Contents within the project list */
#list-title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  font-size: 1.875rem;
}

#project-list {
  grid-area: list;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
}

/* Project button that opens projects */
.project-button {
  border: 0;
  width: 300px;
  height: 200px;
  transition: all 1s ease-in-out;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  -webkit-box-shadow: 4px 4px 3px 3px #A5A5A5; 
  box-shadow: 4px 4px 3px 3px #A5A5A5;
}

.project-button:hover {
  transform: scale(0.95);
}

.open-project {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 'name' 'checked';
  padding: 1rem;
}

.project-name {
  grid-area: name;
  text-align: start;
  font-size: 1.25rem;
}

.project-checked {
  grid-area: checked;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 1rem;
}

/* Add project button that adds a new project */
#add-project {
  color: var(--default-project-background);
  font-size: 6rem;
  background-color: var(--accent-color);
}

/* Contents within the project*/ 
#project-title {
  grid-area: title;
  display: none;
  align-items: center;
  justify-content: space-between;
  font-size: 1.875rem;
}

#project-name {
  width: 80%;
  word-wrap: break-word;
  cursor: text;
  transition: filter 0.2s ease;
  padding: 0.3rem 0rem;
  border-radius: 5px;
  border: 1px solid transparent;
}

#project-name[readonly] {
  caret-color: transparent;
}

#back {
  font-size: 2.5rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

#project-content {
  display: none;
  grid-area: list;
  grid-template-rows: 2.5rem 1fr 2.5rem;
  grid-template-areas: 'color-buttons' 'todo-list' 'delete-button';
}

#color-button-container {
  grid-area: color-buttons;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Color button related */
.color-button {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0rem 0.3rem;
  outline: 1px solid black;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}

.color-button[data-color="#38618C"] { 
  background-color: #38618C; 
}

.color-button[data-color="#EC4E20"] { 
  background-color: #EC4E20; 
}

.color-button[data-color="#FF9505"] { 
  background-color: #FF9505; 
}

.color-button[data-color="#6A0136"] { 
  background-color: #6A0136; 
}

.color-button[data-color="#35CE8D"] { 
  background-color: #35CE8D; 
}

.color-button[data-color="#f5f5f5"] { 
  background-color: #f5f5f5; 
}

.color-button[data-color="#19180A"] { 
  background-color: #19180A; 
}

/* The list of actual todos */
#todo-list {
  grid-area: todo-list;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.todo-container {
  max-height: 3rem; 
  overflow: hidden;
}

.todo-flex-row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.todo-flex-column {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.todo-title {
  font-size: 1.25rem;
  white-space: normal;
  word-wrap: break-word;
  font-weight: 500;
}

.todo-date {
  font-size: 1rem;
  font-weight: 400;
}

/* Items within todos */
.todo-description {
  font-size: 1.125rem;
  white-space: normal;
  word-wrap: break-word;
  padding: 0rem 3rem; 
}

.todo-button-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.todo-edit-input {
  font-size: 1.125rem;
  color: var(--fixed-text);
  background-color: var(--default-project-background);
  border: 1px solid var(--fixed-text);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.todo-button {
  font-size: 1.125rem;
  padding: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.todo-edit-button {
  background-color: var(--accent-color);
  color: var(--default-project-background);
  border: 1px solid var(--default-project-background);
}

.todo-edit-button:hover {
  background-color: var(--accent-color-muted);
}

.todo-delete-button {
  background-color: var(--fixed-text);
  color: var(--default-project-background);
  border: 1px solid var(--default-project-background);
}

.todo-delete-button:hover {
  background-color: var(--fixed-text-muted);
}

.edit-title-input, .edit-description-input {
  margin: 1rem 3rem;
  display: none;
}

.edit-input {
  width: 80%;
}

.confirm-edit-container {
  display: none;
  justify-content: center;
}

.todo-container:has(input[type="checkbox"]:checked) {
  text-decoration: line-through;
}

/* Adding a todo */ 
#add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#creator-container {
  display: none;
  min-width: 70%;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--content-background);
  border: 1px solid var(--neutral-text);
  border-radius: 5px;
  overflow: hidden;
}

#add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#add-todo {
  border: 0;
  cursor: pointer;
  color: var(--default-project-background);
  font-size: 3rem;
  background-color: transparent;
}

.todo-label {
  color: var(--fixed-text-muted);
}

.todo-creator {
  font-size: 1.125rem;
  color: var(--fixed-text);
  background-color: var(--default-project-background);
  border: 1px solid var(--fixed-text);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.long-input {
  width: 100%;
}

#confirm-button {
  background-color: var(--accent-color);
  color: var(--default-project-background);
  border: 1px solid var(--default-project-background);
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

#confirm-button:hover {
  background-color: var(--accent-color-muted);
}

#cancel-button {
  background-color: var(--fixed-text);
  color: var(--default-project-background);
  border: 1px solid var(--default-project-background);
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

#cancel-button:hover {
  background-color: var(--fixed-text-muted);
}

#lower-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
} 

/* Other elements on the project page*/
#delete-button-container {
  grid-area: delete-button;
  display: flex;
  justify-content: end;
  align-items: center;
}

#delete-project {
  background-color: var(--fixed-text);
  color: var(--default-project-background);
  border: 1px solid var(--default-project-background);
  font-size: 1.125rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

#delete-project:hover {
  background-color: var(--fixed-text-muted);
}
