:root {
  font-size: 16px;
  --sidebar-background: red;
  --content-background: yellow;
  --fixed-text: black;
  color: var(--fixed-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 'sidebar content';
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-background);
}

#content {
  grid-area: content;
  background-color: var(--content-background);
  overflow-y: auto;
}